@import "tailwindcss";
@import "lenis/dist/lenis.css";

html {
  scroll-behavior: smooth;
}

/* Alternatively, add these rules manually or link the file in HTML */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0c0c0c;
  --secondary: #ffdc58;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #0c0c0c;
    --secondary: #ffdc58;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-space-grotesk);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@layer components {
  .underline-secondary {
    @apply relative z-0;
  }
  .underline-secondary::before {
    @apply content-[''] absolute -bottom-2 left-0 w-full h-12 bg-secondary -z-10;
  }
}

